<div class="main-menu">
  <ul>
    <li><a href="/index.html"><span class="icons-home">網站首頁</span></a></li>
    <li><a href="/documents.html"><span class="icons-documents">教學文件</span></a></li>
    <li><a href="/screenshots.html"><span class="icons-screenshots">操作畫面</span></a></li>
    <li><a href="/wallpapers.html"><span class="icons-wallpapers">桌布下載</span></a></li>
  </ul>
</div>