/* 基本樣式設定 */
body {
  padding-top: 0;
  color: #222;
  line-height: 1.4em;
}

a {
  color: #5e2800;
}
a:hover {
  color: #913e00;
}

h1, h2, h3, h4, h5, h6 {
  color: #0088ee;
}

/* layout */
.header, .main-menu ul, .main-block, .footer {
  display: block;
  width: 80%;
  min-width: 1000px;
  margin: 0 auto;
  padding: 10px 0;
}

/* header */
.header-wrapper {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffc091), color-stop(20%, #ffffff));
  background-image: -webkit-linear-gradient(#ffc091 0%, #ffffff 20%);
  background-image: -moz-linear-gradient(#ffc091 0%, #ffffff 20%);
  background-image: -o-linear-gradient(#ffc091 0%, #ffffff 20%);
  background-image: linear-gradient(#ffc091 0%, #ffffff 20%);
}
.header-wrapper .header {
  position: relative;
}
.header-wrapper .header h1.logo {
  margin: 0;
}
.header-wrapper .header h1.logo a {
  display: block;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/images/fireapp-logo.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 313px;
  height: 100px;
}
.header-wrapper .header h2 {
  font-size: 1em;
  margin-bottom: 0;
}

/* main-menu */
.icons-documents {
  background: url('/images/icons/documents.png') 0 0 no-repeat;
}

.icons-home {
  background: url('/images/icons/home.png') 0 0 no-repeat;
}

.icons-screenshots {
  background: url('/images/icons/screenshots.png') 0 0 no-repeat;
}

.icons-wallpapers {
  background: url('/images/icons/wallpapers.png') 0 0 no-repeat;
}

.main-menu {
  display: block;
  background: #ff7711;
}
.main-menu > ul {
  *zoom: 1;
  overflow: hidden;
  padding: 0;
  list-style: none;
}
.main-menu > ul li {
  float: left;
  width: 25%;
}
.main-menu > ul li a {
  text-align: center;
  display: block;
  width: 100%;
  color: #fff;
  text-decoration: none;
  padding: 6px 0;
}
.main-menu > ul li a:hover {
  background: #ff6311;
}
.main-menu > ul li a span {
  font-size: 1.2em;
  display: inline-block;
  line-height: 24px;
  height: 24px;
  padding-left: 30px;
}

/* special-block */
.sp-block {
  display: block;
  border: #e3e3e3 1px solid;
  background: #f5f5f5;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.sp-block h2 {
  color: #5e2800;
  font-size: 3em;
  line-height: 1.2em;
}

/* main-block */
.main-block {
  padding: 30px 0 40px;
  *zoom: 1;
  overflow: hidden;
}
.main-block .main {
  display: block;
  width: 67%;
  float: left;
}
.main-block .side {
  display: block;
  width: 30%;
  float: right;
}

/* sidebar */
.side h2 {
  color: #ff7711;
}
.side .ad {
  display: block;
  border: #e3e3e3 1px solid;
  background: #f5f5f5;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  font-size: 1.5em;
  line-height: 1.2em;
}
.side ul {
  line-height: 2em;
}

/* footer */
.footer-wrapper {
  background: #2d1d11;
  color: #eee;
  text-align: center;
  padding: 20px;
}

/* index */
.index-list > ul {
  padding: 0;
}
.index-list > ul li {
  list-style: none;
  padding: 0;
  display: block;
  float: left;
  width: 30%;
  height: 220px;
  margin: 0 1.5%;
}
